<div class="min-w-screen min-h-screen border-y-gray-300 flex items-center justify-center px-5 py-5">
  <div class="bg-gray-100 text-gray-500 rounded-3xl shadow-xl w-full overflow-hidden" style="max-width:1000px">
    <div class="md:flex w-full py-10 px-5 md:px-10">
      <div class="text-center mb-10">
        <h1 class="font-bold text-3xl text-gray-900">Zarejetruj</h1>
        <p>Wpisz swoje dane by się zarejestrować</p>
        <p>Placeholder</p>
      </div>
<form [formGroup]="myForm" (ngSubmit)="onClick()">



    <div class="flex -mx-3">
      <div class="w-1/2 px-3 mb-5">
        <label class="text-xs font-semibold px-1">Imie</label>
        <div class="flex">
          <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-account-outline text-gray-400 text-lg"></i></div>
          <mat-form-field class="input_half">
            <input matInput  placeholder="Imie" formControlName="name">
            <mat-error *ngIf="name?.invalid && name?.touched">Wpisz swoje imie</mat-error>
          </mat-form-field>
        </div>
      </div>


      <div class="w-1/2 px-3 mb-5">
        <label class="text-xs font-semibold px-1">Nazwisko</label>
        <div class="flex">
          <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-account-outline text-gray-400 text-lg"></i></div>
          <mat-form-field class="input_half">
            <input matInput placeholder="Nazwisko" formControlName="surname">
            <mat-error *ngIf="surname?.invalid && surname?.touched">Wpisz swoje nazwisko</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>


  <div class="flex -mx-3">
    <div class="w-full px-3 mb-5">
      <label class="text-xs font-semibold px-1">Email</label>
      <div class="flex">
        <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-email-outline text-gray-400 text-lg"></i></div>
        <mat-form-field class="input_long">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="email?.invalid && email?.touched">Niepoprawny email</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="flex -mx-3">
    <div class="w-full px-3 mb-12">
      <label class="text-xs font-semibold px-1">Hasło</label>
      <div class="flex">
        <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-lock-outline text-gray-400 text-lg"></i></div>
        <mat-form-field class="input_long">
          <input matInput type="password" placeholder="Hasło" formControlName="password">
          <mat-hint align="end">Hasło musi posiadać jedną wielką litere, znak specjalny oraz musi być conajmniej 8 znakowe</mat-hint>
          <mat-error *ngIf="password?.invalid && password?.touched">Wpisz dobre hasło</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="flex -mx-3">
    <div class="w-full px-3 mb-5">
      <button class="block w-full max-w-xs mx-auto bg-amber-400 hover:bg-amber-200 focus:bg-amber-600 text-white rounded-lg px-3 py-3 font-semibold disabled:bg-amber-100" type="submit" [disabled] = "myForm.invalid">Zarejestruj</button>
    </div>
  </div>

</form>
</div>
</div>
</div>
