<div class="background">
<section>
  <div class="flex-column">
    <h1>"WSZYSTKO CZEGO TYLKO DOTKNĘ TO STAJE SIĘ ZŁOTEM"</h1>
    </div>
  <div>
    <h2>Nowe oferty:</h2>
  </div>
  <div class="w-full flex flex-column items-center">
    <!--    Karuzela-->
    <ngb-carousel class="w-full flex flex-wrap justify-center items-center" *ngIf="images">
      <ng-template *ngFor="let item of listItems; index as i" ngbSlide>
        <div>
          <div class="lg:flex lg:justify-center">
            <div class="bg-white lg:mx-8 lg:flex lg:max-w-5xl lg:shadow-lg lg:rounded-lg md:rounded-lg">
              <div class="lg:w-1/2 md:w-auto">
                <div class="h-64 bg-cover rounded lg:rounded-lg lg:h-full lg:w-96 md:rounded img-fluid"  [style.background-image]="'url(' + item.imageUrl + ')'"></div>
              </div>
              <div class="py-12 px-6 max-w-xl lg:max-w-5xl lg:w-96">
                <h2 class="text-3xl text-gray-800 font-bold">{{item.name}}</h2>
                <p class="mt-4 text-gray-600">{{item.opis}}</p>
                <div class="mt-8 w-99">
                  <button (click)="routerToItemPage()" class="flex items-center justify-center w-full px-2 py-2 mt-4 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-amber-400 rounded-md hover:bg-amber-200 focus:outline-none focus:bg-amber-200">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mx-1" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
                    </svg>
                    <span class="mx-1">Kup</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        </ng-template>
    </ngb-carousel>

    <!--  Koniec karuzeli-->
  </div>
  <div class="h-25">
    <h2>O nas:</h2>
    <p class="p-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</section>
</div>
